/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

section {


  /* color: #fff; */
  text-shadow: 3px 3px rgba(50, 50, 70, 0, 5);
  /* background-color: #919680f0; */
  /* height: 100vh; */

  /* min-height: auto; */
  padding-bottom: 1em;
  min-height: 100vh;
  position: relative;
  margin-bottom: 3em;

}

.navBg {
  /* background-color: #7952b3; */
  /* background-color: #373862; */
  /* background-color: #050b52;; */
  /* background-color: #7634e1;; */
  background-color: #6e6e6e;
}
.navLetra{
  color:blue !important;
  font-size: 1.2rem !important;

}

.contenido-principal {
  /* background-color: #605b2dc4; */
  /* background-color: #796497ab; */
  /* background-color: #919680f0; */
  /* background-color: #888; */
  /* background-color: #8888883b; */
  /* background-color: white; */
  background-color: rgb(251 248 238 / 53%) !important;
  ;
  flex-direction: column;
  min-height: 74.6vh;
  margin-top: 3.5em;
  margin-bottom: 0.007em;
}

/* body{
  margin:0;
  background-color: #7952b3; 
  font-family: 'Roboto', sans-serif;
  color:aliceblue;
  position:relative;
  padding-bottom: 3em;
  min-width: 100vh;
} */

.tamannoLogo {
  padding-top: 0;
  padding-bottom: 0;
  width: 10em !important;
  /* width: 70% !important; */
  /* height: auto !important; */
}